<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Properties>
    <Property name="patternLayout">%level{length=1} %d{ISO8601} %c{1.} %m [%t]%n</Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${patternLayout}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="org.eclipse.jetty" level="WARN"/>
    <Logger name="org.testcontainers" level="info"/>
    <Logger name="com.github" level="info"/>
    <Logger name="org.hibernate.engine.jdbc.spi" level="warn"/>
    <Logger name="org.hibernate.resource.transaction.backend.jdbc.internal" level="warn"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

    <Root level="${env:logLevel:-DEBUG}">
      <AppenderRef ref="${env:logAppender:-STDOUT}"/>
    </Root>
  </Loggers>

</Configuration>
