<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Properties>
    <Property name="patternLayout">%level{length=1} %d{ISO8601} %c{1.} %m [%t]%n</Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${patternLayout}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="org.eclipse.jetty" level="WARN"/>

    <Root level="${env:logLevel:-DEBUG}">
      <AppenderRef ref="${env:logAppender:-STDOUT}"/>
    </Root>
  </Loggers>

</Configuration>
